{{!-- Setup to have the template that can handlebars can render --}}

<div class="container">
    <div class="jumbotron text-center col-md-12">
        <div class="container">
            <h1 class="display-4">Eat Da Burger</h1>
            <p class="lead">PickUp and Delivery, Every Bite counts...</p>
            <img src="../assets/images/burgerOfDay.jpg" alt="Burger of the Day">
        </div>
    </div>

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-md-4">
            <div class="card text-white bg-dark" style="max-width: 25rem;">
                <div class="card-header"><strong>Burgers Waiting to Be Devoured</strong></div>
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="eatburger btn btn-warning" id="eatbutton" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fas fa-hamburger"></span>
                        </button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card text-white bg-dark" style="max-width: 25rem;">
                <div class="card-header"><strong>Add Burgers</strong></div>
                <div class="card-body" id="addnewburger">
                    <form class="create-form">
                        <div class="form-group">
                            <label for="addburger" id="color-override">New:</label>
                            <input type="text" id="addburger" name="burger" placeholder="Add New Burger">
                            {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                            <button type="submit" class="btn btn-success" id="newburger"><span
                                    class="fas fa-plus"></span></button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- Devoured Burgers -->
        <div class="col-md-4">
            <div class="card text-white bg-dark" style="max-width: 25rem;">
                <div class="card-header"><strong>Devoured Burgers</strong></div>
                <div class="card-body">
                    <ul>
                        {{#each burgers}}
                        {{#if devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                        <button type="button" class="deleteburger btn btn-danger" id="trash" data-id="{{this.id}}"
                            data-newDevoured="{{devour}}"><span class="fa fa-trash"></span></button>
                        <hr>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>